  @include export-module('diagram-icons') {
  /*! component icons */

  #{&}.e-diagram,
  .e-diagram-menu {
    .e-bringforward::before { content: '\e5a1'; }
    .e-bringfront::before { content: '\e5a2'; }
    .e-sendback::before { content: '\e5a3'; }
    .e-sendbackward::before { content: '\e5a4'; }
    .e-delete::before { content: '\e5a5'; }
    .e-ungroup::before { content: '\e5a6'; }
    .e-group::before { content: '\e5a7'; }
    .e-undo::before { content: '\e341'; }
    .e-cut::before { content: '\e33b'; }
    .e-save::before { content: '\e5b1'; }
    .e-paste::before { content: '\e355'; }
    .e-copy::before { content: '\e33d'; }
    .e-redo::before { content: '\e354'; }
    .e-zoomin::before { content: '\e5b5'; }
    .e-italic::before { content: '\e5b6'; }
    .e-close::before { content: '\e5b7'; }
    .e-pan::before { content: '\e5b8'; }
    .e-bold::before { content: '\e5c1'; }
    .e-underline::before { content: '\e5c2'; }
    .e-zoomout::before { content: '\e5c3'; }
    .e-export::before { content: '\e5c4'; }
    .e-print::before { content: '\e5c5'; }
    .e-order::before { content: '\e4a4'; }
  }
  }
@include export-module('symbolpalette-icons') {


  #{&}.e-symbolpalette {
    .e-clear-searchtext::before { content: '\e5b7'; }
  }
  }
  